<div class="sidebar">
    {% assign url_parts = page.url | split: '/' %}
    {% assign url_parts_size = url_parts | size %}
    {% if url_parts_size != 0 %}
        {% assign rm = url_parts | last %}
        {% assign base_url = page.url | replace: rm %}
    {% else %}
        {% assign base_url = page.url %}
    {% endif %}
    <ul>
        <li><a class="{% if page.url contains '/index.html' %}active-nav{% endif %}" href="{{ site.baseurl }}/">Home</a></li>
        {% for node in site.html_pages %}
            {% assign node_url_parts = node.url | split: '/' %}
            {% assign node_url_parts_size = node_url_parts | size %}
            {% assign filename = node_url_parts | last %}
            {% if node_url_parts_size == 2 and node.url != "/index.html" %}
            <li>
                <a class="{% if page.url contains node.url %}active-nav{% endif %}" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
                {% if page.url contains node.url %}
                    <ul>
                        {% for node2 in site.pages %}
                            {% if node2.url contains node.url %}
                                {% if node2.url != node.url %}
                                    <li><a class="{% if page.url == node2.url %}active-nav{% endif %}" href='{{site.baseurl}}{{node2.url}}'>{{node2.title}}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for num in (1...menu_level) %}
            </ul>
        {% endfor %}
    </ul>
</div>
